* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.titulo {
    text-align: center;
    margin: 50px 0 10px;
    color: #253454;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 20px auto 80px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1px 1px 35px 5px rgba(0, 0, 0, 0.451);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.container__operaciones {
    padding: 20px;
    background-color: #fff;
    flex: 1;
}

.container__imagen {
    background-image: linear-gradient(#6a7fc0f0, #c25bc2ea), url('../imagenes/ondasBroglie.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 45%;
}

.container__operaciones, .container__imagen {
    flex: 1;
}

.capPrincipioIncertidumbre {
    display: block;
    width: 220px;
    height: 120px;
    border: 1px dashed #000;
    margin: 10px auto;
}

.particles {
    width: 100%;
    height: 100vh;
    background: #fafafa;
    position: fixed;
    top: 0;
    z-index: -1;
}

li {
    list-style: none;
}

.input-container {
    margin-bottom: 15px;
}

input {
    width: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
